* {
	margin: 0;
	padding: 0;
}

body {
	max-width: 1000px;
	margin: 0 auto;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.option {
	display: block;
	float:left;
	font-family: sans-serif;
	text-align: center;
	font-size: 14px;

	width: 36%;
	margin: 5px 5%;
	padding: 50px 2%;
}

.both {
	display: block;
	float:left;
	font-family: sans-serif;
	text-align: center;
	font-size: 20px;
	color: #333;

	width: 40%;
	margin: 5px 5%;
	padding: 15px 0px;
}

.shadow {
	/*the following shadow is from Google's 'material design' */
	box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 4px 0px, rgba(0, 0, 0, 0.12) 0px 3px 3px -2px, rgba(0, 0, 0, 0.2) 0px 1px 8px 0px;
}

#lhs {
	background: red;
}

#rhs {
	background: blue;
}

#mid {
	display: block;
	float:left;
	width: 100%;
	font-family: sans-serif;
	text-align: center;
	font-size: 16px;
	color: #333;
	background: rgba(0, 0, 0, 0.0);
}

#top {
	display: block;
	float:left;
	width: 100%;
	height: 20px;
	background: white;
}

#bottom {
	display: block;
	float:left;
	width: 100%;
	height: 20px;
	background: rgba(0, 0, 0, 0.0);
}

.example {
	display: block;
	float:left;
	font-family: sans-serif;
	text-align: center;
	font-size: 14px;

	width: 100%;
}

.example-color {
	display: block;
	float:left;
	font-family: sans-serif;
	text-align: center;
	font-size: 14px;

	width: 36%;
	margin: 5px 5%;
	padding: 50px 2%;
	background: rgba(230, 230, 230, 1.0);
}

.example-info {
	display: block;
	float:left;
	font-family: monospace;
	white-space: pre;
	text-align: left;
	font-size: 14px;

	width: 36%;
	margin: 5px 5%;
	padding: 50px 2%;
	background: rgba(230, 230, 230, 1.0);
}
